canonical/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="example">
        <xs:complexType>
            <xs:choice>
                <xs:element name="integerValue" type="xs:int"/>
                <xs:element name="enumerationValue" type="enumValueType"/>
                <xs:element name="floatValue" type="xs:float"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="enumValueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="a"/>
            <xs:enumeration value="a"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
